.containerContador{
    margin: 10px auto;
    width: 120px;
    height: 120px;
    border: 2px solid yellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}