/*
contHeader_logo
contHeader_ul
contHeader_btn
*/
.contHeader{
    width: 100%;
    padding: 10px 0px;
    background: teal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .contHeader_logo{
        width: 200px;
        height: 60px;
        background: brown;
        .logo{
            width: 100%;
            height: 100%;
        }
    }

    .contHeader_ul{
        width: 400px;
        padding:5px 0px;
        background: orange;
    }


    .contHeader_btn{
        width: 40px;
        height: 40px;
        background: brown;
    }
}
